<!doctype html>
<html>
<head>
	<title>Audio Trackr</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/vendors.min.css" />
	<link rel="stylesheet" href="css/app.min.css" />
	<script src="js/modernizr.min.js"></script>
</head>
<body ng-app="AudioTrackr" ng-controller="MainController">
	<header>
		<h1>Audio Trackr</h1>
		<a href="http://ear-tickler.com">ear-tickler.com</a>
	</header>

	<div class="songs" ng-cloak>
		<span ng-repeat="song in songs">
			<input id="{{'radio-'+song.name}}" type="radio" ng-model="$parent.currentSong" ng-value="song" />
			<label for="{{'radio-'+song.name}}">{{song.name+' ('+song.band+')'}}</label>
		</span>
	</div>

	<div class="controls" ng-show="currentSong" ng-cloak>
		<button ng-disabled="!ready" ng-show="!playing" ng-click="playTracks()">Play</button>
		<button ng-disabled="!ready" ng-show="playing" ng-click="stopTracks()">Stop</button>
	</div>

	<div class="error" ng-show="error" ng-cloak>Sorry, it looks like this won't work in your browser.</div>

	<div class="track-container" ng-cloak>
		<div track="track" track-name="{{track.name}}" ng-repeat="track in currentSong.tracks"></div>
	</div>

	<footer>
		Based on <a href="https://github.com/chrisbateman/Audio-Trackr">Audio-Trackr</a>
	</footer>

	<scripts>
		<script src="js/vendors.min.js"></script>
		<script src="js/app.min.js"></script>
		<script src="audio/track_list.js"></script>
		<script>
			$(function() {
				$(document).on('ended', function(ev) {
					console.log('ended: ', ev);
				});
			});
		</script>
	</scripts>
</body>
</html>